# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Archivos de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Archivos compilados / build
# =========================
dist/
build/
out/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Caché
# =========================
.cache/
.tmp/
temp/
.DS_Store

# =========================
# IDEs y editores
# =========================
.vscode/

# =========================
# Archivos de prueba
# =========================
coverage/

# =========================
# Binarios
# =========================
*.exe
*.dll
*.so
*.dylib
